@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Anton);

html,
body {
    min-width:300px;
}
body{
    background-image:url(/images/wp/bg-body.gif);
    background-position:center top;
    background-repeat:repeat-x;
    background-color: #fff;
    color: #6d6d6d;
    /*font: 12px/18px Arial, Helvetica, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
}
a{
    color:#d1270a;
}
a:hover{
    color:#6d6d6d;
}
.footer-text{
    font-size:10px;
}

#header {
    min-height:103px;
    position:relative;
    z-index:99;
    background:none;
    margin:0px;
    padding:0;
}
.row-top {
    position:relative;
    min-height:40px;
    background:none;
    padding:13px 0 0 0;
}
.row-address {
    position:relative;
    min-height:46px;
    background:#2f2f2f;
    border-radius:4px 4px 0 0;
}
.row-logo {
    position:relative;
    background:url(/images/wp/bg-row-logo.gif) 0 0 repeat-x #ededed;
    box-shadow: 0px 5px 0px 0px #d4d4d4, 0px 6px 0px 0 #bebebe, 0 8px 16px rgba(0,0,0, .09);
    border-radius:0 0 4px 4px;
    min-height: 81px;
}

/* Logo */
.logo {
    margin:0;
    /*padding:27px 0 0 24px;*/
    position:relative;
    z-index:100;
    display:inline-block;
}

.logo img {margin-bottom:10px;}

.logo h1,
.logo h2 {
    font-size:29px;
    line-height:45px;
    color:#2f2f2f;
    font-family: 'Anton', sans-serif;
    font-weight:400;
    padding:0;
    text-transform:uppercase;
    margin:7px 0 0 30px;
}
.logo h1 a,
.logo h2 a {
    color:#2f2f2f;
    text-decoration:none;
}
.logo h2 a .first-char,
.logo h1 a .first-char{
    color:#d1270a;
    font-size:46px;
}
.logo .tagline {
    font-size:11px;
    line-height:14px;
    text-transform:uppercase;
    color:#909090;
    margin:-10px 0 0px 30px;
}

/*----------------------------------------
                                Navigations
---------------------------------------- */
/* Primary navigation */
nav.primary {
    position:absolute;
    right:0;
    top:0;
    padding:0px;
    z-index:99;
}

#topnav {margin:0;}

/* Essential styles for dropdown menu */
.sf-menu {
    padding:0px 0px 0px 0px;
    position:relative;
    background:none;
    text-align:left;
}
.sf-menu li {
    position:relative;
    list-style:none;
}
.sf-menu > li{
    display:block;
    float:left;
    text-align:center;
    position:relative;	
    margin:0;
    padding:0;
    background:url(/images/wp/menu-separator.png) 0 0 repeat-y;
}
.sf-menu > li.last, .sf-menu > li.last .bg-menu {border-radius:0 0px 4px 0;}

.sf-menu .bg-menu{
    background:url(/images/wp/bg-menu.gif) 0 bottom repeat-x #dd2a0b;
    cursor:pointer;
    bottom: 50%;
    left: 50%;
    right: 50%;
    top: 50%;
    opacity: 0;
    position: absolute;
    z-index: 2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
}

.sf-menu > li:hover .bg-menu, 
.sf-menu > li.sfHover .bg-menu, 
.sf-menu > li.current-menu-item .bg-menu{
    bottom: 0;
    left: 0;
    opacity: 1.0;
    right: 0;
    top: 0;
}

.sf-menu > li > a >.menu-marker {
    display:inline-block;
    width:7px;
    height:4px;
    position:absolute;
    bottom:36px;
    left:50%;
    margin-left:-3px;
    background:url(/images/wp/main-menu-marker.png) center 0 no-repeat;
    z-index:4;
}
.sf-menu > li:hover > a >.menu-marker, .sf-menu > li.sfHover > a >.menu-marker, .sf-menu > li.current-menu-item > a >.menu-marker {background-position:0 -4px;}

.sf-menu li a {
    display:block;
    text-decoration:none;
    position:relative;
    z-index:3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sf-menu > li > a {
    font-size:16px; 
    line-height:20px;
    background:none;
    padding:33px 10px 34px 11px;
    color:#656464;
    text-transform:uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight:400;
}

.sf-menu > li:hover > a, .sf-menu > li.sfHover > a, .sf-menu > li.current-menu-item > a {color:#fff;}

.sf-menu ul {
    position:		absolute;
    width:			213px; /* left offset of submenus need to match (see below) */
    padding:0px 0 0px 0;
    z-index:200;
    display:none;
    margin:0;
    background:#2f2f2f;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left:			0;
    top:			123px; /* match top ul list item height */
    z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    width:213px;
    padding:0;
    margin:0;
    background:#2f2f2f;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left:			-213px; /* match ul width */
    top:			0px;
    z-index:99;
}
.sf-menu ul li, .sf-menu ul li li {
    margin:0;
    padding:0;
    text-align:left;
    background:none;
    display:block;
    border-top:1px solid #3c3b3b;
}
.sf-menu ul li:first-child, .sf-menu ul li li:first-child {border-top:none;}


.sf-menu li li a {
    text-align:left;
    color:#fafafa;
    font-size:12px;
    line-height:18px;
    padding:8px 5px 8px 23px;
    background:url(/images/wp/menu-marker.png) 88% 51% no-repeat;
    display:block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sf-menu li li.current-menu-item > a, .sf-menu li li.sfHover > a, .sf-menu li li:hover > a {color:#e50f0f;}

/* Navigation select styling */
.select-menu {
    border:1px solid #c8c8c8;
    background-color:#e4e4e4;
    width:100%;
    height:30px;
    padding:5px;
    cursor:pointer;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.select-menu:focus {border-color:#999;}

.select-menu option {
    padding:5px;
    cursor:pointer;
}

.select-menu option.main_item {font-weight:bold;}

.top-red-text{
    color: #d1270a;
    font-family: oswald,sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
}
.main-form-wrap{
    background-image: url(/images/wp/banner-1.jpg);
    background-size: cover;
    background-position: 100% 50%;
    position: relative;
    border-bottom:3px solid #d1270a;
    margin-bottom: 15px;
}
.main-form-wrap.red-2{
    background-image: url(/images/wp/banner-b-1.jpg);
    background-position: 400px 50%;
}
.main-form-wrap.red-1{
    background-image: url(/images/wp/banner-b-2.jpg);
    background-position: 400px 50%;
}
.main-form-wrap .main-form{
    width:430px;
    background-color: #000000;
    padding:10px;
    padding-right: 15px;
}
.main-form-wrap.red-1 .main-form,
.main-form-wrap.red-2 .main-form{
    background-color: #d1270a;
}
.main-form-wrap .main-form .control-label,
.main-form-wrap .main-form .control-label a{
    color:#fff;
}
.main-form-wrap .main-form .control-label.zip-help a{
    color:#d1270a;
}
.main-form-wrap.red-1 .main-form .control-label.zip-help a,
.main-form-wrap.red-2 .main-form .control-label.zip-help a{
    color:#000;
}
.main-form-wrap.red-2 .main-form .btn,
.main-form-wrap.red-1 .main-form .btn{
    border-color:#dcdcdc;
    background-color: #fff;
    color:#d1270a;
}
.main-form-wrap.red-2 .main-form .btn:hover,
.main-form-wrap.red-1 .main-form .btn:hover{
    background-color: #d1270a;
    color:#fff;
}
.main-form-wrap .main-form .form-title{
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 26px;
    line-height: 32px;
    margin: 5px -15px 25px -10px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;

}
.main-form-wrap .move-info-text{
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: -15px;
    text-align: justify;
}

.content-block{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding:26px 25px 9px 30px;
    position: relative;
}

.content-block .block-title,
.content-block h1{
    border-bottom: 1px solid #e2e2e2;
    color: #3b3b3b;
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 25px;
    margin: 0 0 6px;
    padding: 0 0 26px;
    text-transform: uppercase;

}
.content-block img{
    border-radius: 4px;
    float:left;
    margin:0 10px 10px 0;
}
.content-block p{
    text-align: justify;
}
.content-block .page-text{
    margin-top:20px;
}
.content-block .social-block{
    position:absolute;
    margin-top:-69px;
    right:25px;
}
.red-title,
h1.red-title,
.content-block .red-title,
.content-block h1.red-title{
    color:#d1270a;
}
.content-block
{
    margin-bottom:40px;
}
.testimonials .testimonials-text{
    font-style: italic;
    padding:5px 0 5px 10px;
}
.testimonials .testimonials-author{
    margin-top:10px;
    padding-left:10px;
    font-style: italic;
    margin-bottom:5px;
    color:#d1270a;
}

/* List styling */
dl dt {
    background:url(/images/wp/list-arrow.gif) no-repeat 0 3px;
    padding:0 0 3px 32px;
    margin-bottom:.2em;
    font-size:18px;
    line-height:1.2em;
    color:#191919;
}
dl dd {
    padding:0 0 0 32px;
    margin:0 0 1.5em 0;
}
.content-block ul {
    list-style-type:none;
    padding:0;
    margin:0 0 26px 0;
}

.content-block ul li {
    vertical-align:top;
    list-style-type:none; 
    color: #6d6d6d;
    background:url(/images/wp/list-marker.png) 0px 5px no-repeat;
    padding:0px 0 0px 20px;
    margin:0 0 6px 0;
}

.content-block ul li a {
    color:#6d6d6d;
    text-decoration:none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.content-block ul li a:hover {
    color: #d3280b;
    text-decoration: none;
}


.content-block ul ul {
    margin:0;
    padding:10px 0 0 0;
}

.content-block ul.popular-directions{
    margin-top:20px;
    font-size:12px;
}

.footer{
    border-top:1px solid #dcdcdc;
    padding:20px 0;
}

.state-block .row{
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}

.state-block .state-link{
    font-weight: 600;
    font-size: 16px;
    margin:5px 0;
    display: block;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
.breadcrumb{
    background-color: #fff;
    border:1px solid #dcdcdc;
    padding:8px 30px;
}

.move-citiy-items{
    margin-top:10px;
    margin-bottom:10px;
}
.move-citiy-items a{
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin:10px;
    display: inline-block;
    font-family: "Oswald", sans-serif;
}
.carriers-list-item{
    margin:20px 0;
}
.carriers-list-item-title{
    color: #00008b;
    font-family: "oswald",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
}
.map{
    margin-bottom:20px;
}
div.vote-wrap{
    margin-left:-4px;
}
div.vote-result{
    padding-left: 90px;
    margin-top:0;
}
div.vote-success{
    margin: 2px 0 0 5px;
}
.bx-wrapper{
    margin:30px auto;
}
.bx-wrapper .bx-viewport{
    background: none;
    border:none;
    border-left:1px solid #e2e2e2;
    box-shadow: none;
}
.bx-wrapper .bx-pager.bx-default-pager a{
    background: none repeat scroll 0 0 #dedee0;
    border-radius: 50%;
    height: 15px;
    width:15px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: none repeat scroll 0 0 #d89743;
}

.select-menu{
    display: inline-block;
    background-color: #e4e4e4;
    border:1px solid #c8c8c8;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    padding:5px;
    width:100%;
}

.content-block .text{
    text-align: justify;
}


h5 {
    color: #3b3b3b;
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

/* Address */
.address {
    overflow:hidden;
    width:100%;
    margin:0;
    padding:0;
}
.address dt {
    float:left;
    width:165px;
    margin:0 20px 20px 0;
    padding:0 0 0 55px;
    background:none;
    font-size:1em;
    line-height:18px;
    background:url(/images/wp/address-icon1.png) no-repeat 0 3px;
    font-weight: 300;
    width:300px;
}
.address dd {
    float:left;
    width:300px;
    padding:0 0 0 53px;
    background:url(/images/wp/address-icon2.png) no-repeat 0 3px;
}
.address dd ul {
    list-style-type:none;
    padding:0;
    margin:0;
}
.address dd ul li {
    background:none;
    padding:0;
    margin:0;
}
.address dd span {
    float:left;
    width:100px;
}
.address dd a {
    font-style:italic;
    text-decoration:underline;
}
.address dd a:hover {text-decoration:none;}

/* Google Map */
.google-map {
    margin-bottom:20px;
    position:relative;
    overflow:hidden;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-image:url(/images/wp/loading-map.gif);
}


@media (max-width: 991px){
    nav.primary{
        display:block;
        min-height: 1px;
        padding:10px;
        position: relative;
        right:auto;
        top:auto;
    }
    #header{
        min-height: 140px;
    }
    .main-form-wrap .main-form{
        width:100%
    }
}
@media (max-width: 764px){
    .content-block .social-block{
        position:static;
        margin-top:0;

    }
}